<%- include('../partials/header.ejs') %>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MC Pets</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<style type="text/css">
		
		html {
			height: 100%;
		}
		body{
			background: url(https://images.unsplash.com/photo-1549291981-56d443d5e2a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
			background-size: 100%;
			background-position: 75% 45%;
			font-family: lato;
			color: rgb(50,50,50);
		}

		#content {
			text-align: center;
			padding-top: 25%;
			/*
				text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
							 0px 8px 13px rgba(0,0,0,0.2),
							 0px 18px 23px rgba(0,0,0,0.1);
			*/
		}

		h1 {
			text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
			font-weight: 700;
			font-size: 5em;
		}
		
		h3{
			text-indent: 2em;
		}

		h4{
			text-indent: 2em;
		}
		
		hr {
			width: 400px;
			border-top: 1px solid #f8f8f8;
			border-bottom: 1px solid rgba(0,0,0,0.2)
		}
	</style>

</head>
<body>
	<div class="container">
		<h1>Contact Us</h1>
		<h2>
			Do you need more information on how you can find your perfect new furry friend? Call or email us today to get in touch with a member of our friendly staff, who will be more than happy to help.
		</h2>
		<h3>
			<b><u>Phone Number</u>:</b>	(555)-MC-PETS1    |    (555)-627-3871
		</h3>
		<h3>
			<b><u>Email</u>:</b> info@mcpets.org
		</h3>
	</div>
<%- include('../partials/footer.ejs') %>