<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5">
        <h1 class="text-center mb-5 text-uppercase text-muted">Please fill out payment details</h1>
        <div class="row">
            <div class="col-sm-6 bg-light rounded border py-3 offset-sm-3">
                <h2 class="text-center">Checkout</h2>

                <form action="/order/<%=currentUser.id%>" method="POST" novalidate>
                        <div class="form-group">
                          <label for="_rpayment_type">Payment Type</label>
                          <input type="text" name="payment_type" id="_rpayment_type" class="form-control" placeholder="Visa, Mastercard, etc.">
                        </div>
						<div class="form-group">
                          <label for="_rcard_number">Card Number</label>
                          <input type="text" name="card_number" id="_rcard_number" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx">
                        </div>
                        <button type="submit" class="btn btn-success">Place Order</button>
						<a href="/" class="btn btn-info">Go back</a>
                </form>
            </div>
        </div>
    </div>
	<div class="container">
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<% if(success && success.length > 0){ %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	</div>
</body>
</html>